@font-face {
    font-family: "opposansH";
    src:
        url("../../../public/MCBOX/resource/fonts/OPPOSans-H-2.ttf") format('truetype'),
}

@font-face {
    font-family: "opposansR";
    src:
        url("../../../public/MCBOX/resource/fonts/OPPOSans-R-2.ttf") format('truetype'),
}

@font-face {
    font-family: "minecraft-title";
    src:
        url("../../../public/MCBOX/resource/fonts/Minecrafter.Alt.ttf") format('truetype'),
}

@font-face {
    font-family: "minecraft";
    src:
        url("../../../public/MCBOX/resource/fonts/Minecraft-AE.ttf") format('truetype'),
}