.black {
    width: 100%;
    height: 100%;

    * {
        background-color: rgb(25, 25, 25);
        color: rgb(245, 245, 245);
    }

    .chestcommands_menus {
        span {
            background-color: rgb(198, 198, 198);
        }
    }

    .main_nav {
        .card:hover {
            background-color: rgb(40, 40, 40);

            i {
                background-color: rgb(40, 40, 40);
            }
        }

        .main_nav_active {
            .card {
                background-color: rgb(55, 55, 55);

                i {
                    background-color: rgb(55, 55, 55);
                }
            }

        }
    }

    .main_main {
        background-color: rgb(22, 22, 22);

        * {
            background-color: rgb(22, 22, 22);
        }
    }

    .editor {
        .card:hover {
            box-shadow: 0 0 5px #fff;
            background-color: rgba(255, 255, 255, 0.05);

            * {
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }

    .about {
        .about_author_content {
            h3 {
                color: rgb(113, 113, 113);
            }
        }
    }

    button {
        border: 1px solid #fff;
        background-color: rgba(125, 125, 125, 0.1);
    }

    button:hover {
        background-color: rgba(125, 125, 125, 0.3);
    }
}